<!doctype html>
<html>
  <head>
    <title>J&amp;J foto app</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
  	<header>
  		<a href="../home">Home</a>
  		<a href="../upload/showuploads">Photos</a>

  		<% if (req.session.username) { %>
  			<a href="../users/logout">Logout</a>
  			<a href="../upload">Upload</a>
  		<% } else { %>
  			<a href="../users/login">Login</a>
  			<a href="../users/signup">Sign up</a>
  		<% } %>
  	</header>