<% include ../partials/header %>

<h1>Upload</h1>

<form class="formupload" action= "/upload/" method= "post" enctype= "multipart/form-data">
	<input type= "file" name= "imageFile" value= "">
	<label for="caption">Name:</label>
    <input type="text" id="caption" name="caption" value="">
	<button> Upload! </button>
</form>

<% include ../partials/footer %>